* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff500;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
}

body{
    background-color: #fff500;
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu ul {
    list-style: none;
    text-align: right;
    padding-right: 1.5rem;
    padding-top: 1.8rem;
}

.menu ul a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rebeccapurple;
    text-align: center;
}

.account {
    border: 0.1rem black;
    background-color: aqua;
    border-radius: 0.5rem;
}





footer {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.line {
    background-color: #fff500;
    width: 0.2rem;

}

.follow {
    width: 40vw;
}

.follow_social a {
    margin-top: 0.5rem;
}

.follow_social p {
    padding-left: 0.3rem;
} 

.contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.contact_social a {
    margin-top: 0.5rem;
}

.contact_social p {
    padding-left: 0.3rem;
} 

.design {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.design a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}