* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
}

body{
    background-color: #fff500;
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu ul {
    list-style: none;
    text-align: right;
    padding-right: 1.5rem;
    padding-top: 1.8rem;
}

.menu ul a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.payments {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.payments h1 {
    font-size: 2.2rem;
}

.payments p {
    font-weight: 400;
}

.account {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 28rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 0px 10px gray;
}

.account img {
    width: 10rem;
}

.prices_sign {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

.prices {    
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    width: 28rem;
    margin-bottom: 1rem;
    display: inline-flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px gray;
}

.prices img {
    height: 8rem;
}

.price_details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.3rem;
}

.price_details h3 {
    color: rgb(43, 98, 201);
}

.confirmation {
    border-radius: 1rem;
    width: 28rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px gray;
}

.confirmation p {
    font-weight: 400;
}

.shipment {
    font-size: 0.8rem;
}


footer {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.line {
    background-color: #fff500;
    width: 0.2rem;

}

.follow {
    width: 40vw;
}

.follow_social a {
    margin-top: 0.5rem;
}

.follow_social p {
    padding-left: 0.3rem;
} 

.contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.contact_social a {
    margin-top: 0.5rem;
}

.contact_social p {
    padding-left: 0.3rem;
} 

.design {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.design a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}