* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

header {
    background-color: #fff500;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
}
body{
    background-color: #fff500;
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.menu ul {
    list-style: none;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

.menu ul a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.profile {
    color: white;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/stovarm/image/upload/v1650902962/JesusDavid/fondo1_d6aouc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);    
}

.profile h2 {
    position: relative;
    font-size: 1.5rem;
}

.profile h1 {
    position: relative;
    font-size: 3rem;
}

.profile a {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    background-color: #fff500;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}

.history {
    background-color: #fff500;
    display: flex;
    flex-wrap: wrap;
}

.img_history {
    object-fit: contain;
    min-width: 18rem;
    margin: 1rem;
    flex: 1;
}

.text {
    margin: 1rem;
    padding: 1rem;
    flex: 2;
}

.text h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.text p {
    text-align: justify;
}


.gallery_container {
    display: flex;
    flex-wrap: wrap;
}

.gallery_flex {
    flex: 1;
    min-width: 30rem;
}

.gallery_flex picture {
    display: flex;
    justify-content: center;
}

.gallery_flex img {
    min-width: 30rem;
    width: 60vw;
    max-width: 80rem;    
}

.gallery_flex:first-child{
    flex: 2;
    margin: 1rem;
}

.gallery_flex_text {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery_flex_button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_flex a {
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    background-color: black;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.line {
    background-color: #fff500;
    width: 0.2rem;

}

.follow {
    width: 40vw;
}

.follow_social a {
    margin-top: 0.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.contact_social a {
    margin-top: 0.5rem;
}

.design {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}






