* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    color: white;
}

header {
    background-color: #fff500;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
}
body{
    background-color: black;
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.menu ul {
    list-style: none;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

.menu ul a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.profile {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/src/assets/fondo1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);    
}

.profile h2 {
    position: relative;
    font-size: 1.5rem;
}

.profile h1 {
    position: relative;
    font-size: 3rem;
}

.profile a {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    background-color: #fff500;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}

.history {
    background-color: #fff500;
    display: flex;
    flex-wrap: wrap;
}

.img_history {
    object-fit: contain;
    min-width: 22rem;
    margin: 1rem;
    background-color: black;
    flex: 1;
}

.text {
    margin: 1rem;
    padding: 1rem;
    flex: 2;
    background-color: black;
}

.text h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.text p {
    text-align: justify;
}




